<mdb-navbar SideClass="navbar navbar-expand-lg ">
  <mdb-navbar-brand><a class="navbar-brand" routerLink="/">777</a></mdb-navbar-brand>
  <links>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link waves-light" mdbWavesEffect routerLink="/">Домой</a>
      </li>
      <li class="nav-item">
        <a class="nav-link waves-light" mdbWavesEffect routerLink="adverts">Объявления</a>
      </li>
      <li class="nav-item">
        <a class="nav-link waves-light" mdbWavesEffect routerLink="admin">ADMIN</a>
      </li>
      <li class="nav-item">
        <a class="nav-link waves-light" mdbWavesEffect routerLink="login">Login</a>
      </li>
    </ul>
    <a mdbBtn type="button" size="md" color="primary" routerLink="/add">Подать объявление</a>
  </links>
</mdb-navbar>
